@{
    ViewBag.Title = "Home Page";
}

<div id="map-canvas"></div>

@*<div class="row">
    <div class="col-md-12">
        <ul class="tweets"></ul>
    </div>
</div>*@
<div class="hidden-fields">
    <input type="hidden" id="mBoxToken" value="@ViewBag.MapBoxToken" />
</div>
