<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="customer_key" value="kO6JlIwLa4czaQSqvHXLFfOhb"/>
    <add key="customer_secret" value="rSbhwvMR0vq1UCpkztfl3PvazveNHCKg6879J8yd0kLu7Q0xSF"/>
    <add key="access_token" value="874229294-vTpHJDcl8K0I7Ae6H29Ezvpw5ZVsX3uT2wbtDNkD"/>
    <add key="access_token_secret" value="3XNHrHBanj3x2fOTCm53t7L6hd7NSDlLqWIgc24um3x83"/>
    <add key="stream_url" value="https://stream.twitter.com/1.1/statuses/filter.json"/>
    <add key="track_keywords" value="blah"/>
    <add key="follow_userid" value=""/>
    <add key="location_coord" value=""/>
  </appSettings>
</configuration>